bleach==1.4.2
certifi==2018.4.16
chardet==3.0.4
Django==1.10.4
django-contrib-comments==1.6.2
django-grappelli==2.8.1
django-openid-auth==0.7
django-simple-captcha==0.5.1
esgfpid==0.7.10
globusonline-transfer-api-client==0.10.18
html5lib==1.0b8
httplib2==0.11.3
idna==2.6
oauth2client==2.0.1
passlib==1.6.5
pika==0.11.2
Pillow==5.1.0
psycopg2==2.5.2
pyasn1==0.4.3
pyasn1-modules==0.2.1
pysqlite==2.8.1
python-magic==0.4.12
python-openid==2.2.5
requests==2.18.4
rsa==3.4.2
six==1.11.0
South==1.0.2
SQLAlchemy==1.0.11
urllib3==1.22
