excludes='certified_asterisk,nosefart,futuresmart_firmware,sixnet-managed_industrial_switches_firmware,h2,jetstar,jenesys,jerryscript,jetnet,jetpack,jetson,jetspeed,certificate_system,certification,django_make_app,django-epiceditor,django-markupfield,django_cms,javamelody,javaswaptest'
