./esgf-idp/WEB-INF/lib/activation-1.1.jar
./esgf-idp/WEB-INF/lib/annotations-1.0.0.jar
./esgf-idp/WEB-INF/lib/ant-1.7.0.jar
./esgf-idp/WEB-INF/lib/antisamy-1.5.7.jar
./esgf-idp/WEB-INF/lib/ant-launcher-1.7.0.jar
./esgf-idp/WEB-INF/lib/aopalliance-1.0.jar
./esgf-idp/WEB-INF/lib/asm-3.0.jar
./esgf-idp/WEB-INF/lib/asm-tree-3.0.jar
./esgf-idp/WEB-INF/lib/avalon-framework-4.1.5.jar
./esgf-idp/WEB-INF/lib/backport-util-concurrent-3.1.jar
./esgf-idp/WEB-INF/lib/batik-constants-1.9.1.jar
./esgf-idp/WEB-INF/lib/batik-css-1.9.1.jar
./esgf-idp/WEB-INF/lib/batik-i18n-1.9.1.jar
./esgf-idp/WEB-INF/lib/batik-util-1.9.1.jar
./esgf-idp/WEB-INF/lib/bcel-5.1.jar
./esgf-idp/WEB-INF/lib/bsh-core-2.0b4.jar
./esgf-idp/WEB-INF/lib/cobertura-1.8.jar
./esgf-idp/WEB-INF/lib/cobertura-1.9.4.jar
./esgf-idp/WEB-INF/lib/commons-beanutils-1.9.2.jar
./esgf-idp/WEB-INF/lib/commons-beanutils-core-1.8.3.jar
./esgf-idp/WEB-INF/lib/commons-cli-1.2.jar
./esgf-idp/WEB-INF/lib/commons-codec-1.9.jar
./esgf-idp/WEB-INF/lib/commons-collections-3.2.2.jar
./esgf-idp/WEB-INF/lib/commons-configuration-1.10.jar
./esgf-idp/WEB-INF/lib/commons-dbcp-1.4.jar
./esgf-idp/WEB-INF/lib/commons-dbutils-1.3.jar
./esgf-idp/WEB-INF/lib/commons-digester-2.0.jar
./esgf-idp/WEB-INF/lib/commons-fileupload-1.3.1.jar
./esgf-idp/WEB-INF/lib/commons-httpclient-3.1.jar
./esgf-idp/WEB-INF/lib/commons-io-2.4.jar
./esgf-idp/WEB-INF/lib/commons-jelly-tags-log-1.0.jar
./esgf-idp/WEB-INF/lib/commons-lang-2.6.jar
./esgf-idp/WEB-INF/lib/commons-logging-1.2.jar
./esgf-idp/WEB-INF/lib/commons-pool-1.5.4.jar
./esgf-idp/WEB-INF/lib/coreplugin-1.0.0.jar
./esgf-idp/WEB-INF/lib/dom4j-1.6.1.jar
./esgf-idp/WEB-INF/lib/el-api-1.0.jar
./esgf-idp/WEB-INF/lib/esapi-2.1.0.1.jar
./esgf-idp/WEB-INF/lib/esgf-node-manager-accesslog-client-1.02.jar
./esgf-idp/WEB-INF/lib/esgf-node-manager-common-1.02.jar
./esgf-idp/WEB-INF/lib/esgf-node-manager-connector-1.02.jar
./esgf-idp/WEB-INF/lib/esgf-node-manager-filters-1.02.jar
./esgf-idp/WEB-INF/lib/esgf-security-2.8.5.jar
./esgf-idp/WEB-INF/lib/esgf-security-test-2.8.5.jar
./esgf-idp/WEB-INF/lib/findbugs-1.0.0.jar
./esgf-idp/WEB-INF/lib/findbugs-ant-1.0.0.jar
./esgf-idp/WEB-INF/lib/findbugsGUI-1.0.0.jar
./esgf-idp/WEB-INF/lib/geronimo-jms_1.1_spec-1.0.jar
./esgf-idp/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar
./esgf-idp/WEB-INF/lib/guice-2.0.jar
./esgf-idp/WEB-INF/lib/hessian-3.0.20.jar
./esgf-idp/WEB-INF/lib/httpclient-4.5.1.jar
./esgf-idp/WEB-INF/lib/httpcore-4.4.3.jar
./esgf-idp/WEB-INF/lib/ivy-2.3.0.jar
./esgf-idp/WEB-INF/lib/javaee-api-5.0-2.jar
./esgf-idp/WEB-INF/lib/jaxb-api-2.2.jar
./esgf-idp/WEB-INF/lib/jaxb-impl-2.2.jar
./esgf-idp/WEB-INF/lib/jaxb-xjc-2.2.jar
./esgf-idp/WEB-INF/lib/jaxen-1.1.3.jar
./esgf-idp/WEB-INF/lib/jcl-over-slf4j-1.6.4.jar
./esgf-idp/WEB-INF/lib/jdom-1.0.jar
./esgf-idp/WEB-INF/lib/jdom-2.0.2.jar
./esgf-idp/WEB-INF/lib/jline-0.9.94.jar
./esgf-idp/WEB-INF/lib/joda-convert-1.1.jar
./esgf-idp/WEB-INF/lib/joda-time-2.0.jar
./esgf-idp/WEB-INF/lib/jsp-api-2.0.jar
./esgf-idp/WEB-INF/lib/jsp-api-2.1.jar
./esgf-idp/WEB-INF/lib/log4j-1.2.17.jar
./esgf-idp/WEB-INF/lib/logkit-1.0.1.jar
./esgf-idp/WEB-INF/lib/mail-1.4.4.jar
./esgf-idp/WEB-INF/lib/nekohtml-1.9.22.jar
./esgf-idp/WEB-INF/lib/not-yet-commons-ssl-0.3.9.jar
./esgf-idp/WEB-INF/lib/openid4java-0.9.6.jar
./esgf-idp/WEB-INF/lib/opensaml-2.6.6.jar
./esgf-idp/WEB-INF/lib/openws-1.5.6.jar
./esgf-idp/WEB-INF/lib/oro-2.0.8.jar
./esgf-idp/WEB-INF/lib/postgresql-8.4-703.jdbc3.jar
./esgf-idp/WEB-INF/lib/regexp-1.2.jar
./esgf-idp/WEB-INF/lib/retrotranslator-runtime-1.2.7.jar
./esgf-idp/WEB-INF/lib/serializer-2.9.1.jar
./esgf-idp/WEB-INF/lib/slf4j-api-1.6.4.jar
./esgf-idp/WEB-INF/lib/slf4j-log4j12-1.6.4.jar
./esgf-idp/WEB-INF/lib/spring-aop-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-beans-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-context-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-context-support-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-core-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-expression-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-jdbc-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-security-acl-4.2.8.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-security-config-4.2.8.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-security-core-4.2.8.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-security-openid-4.2.8.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-security-taglibs-4.2.8.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-security-web-4.2.8.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-tx-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-web-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/spring-webmvc-4.3.19.RELEASE.jar
./esgf-idp/WEB-INF/lib/taglibs-standard-impl-1.2.5.jar
./esgf-idp/WEB-INF/lib/taglibs-standard-spec-1.2.5.jar
./esgf-idp/WEB-INF/lib/tds-4.1.jar
./esgf-idp/WEB-INF/lib/tiles-api-2.2.2.jar
./esgf-idp/WEB-INF/lib/tiles-compat-2.2.2.jar
./esgf-idp/WEB-INF/lib/tiles-core-2.2.2.jar
./esgf-idp/WEB-INF/lib/tiles-jsp-2.2.2.jar
./esgf-idp/WEB-INF/lib/tiles-servlet-2.2.2.jar
./esgf-idp/WEB-INF/lib/tiles-template-2.2.2.jar
./esgf-idp/WEB-INF/lib/xalan-2.7.2.jar
./esgf-idp/WEB-INF/lib/xercesImpl-2.11.0.jar
./esgf-idp/WEB-INF/lib/xml-apis-1.4.01.jar
./esgf-idp/WEB-INF/lib/xml-apis-ext-1.3.04.jar
./esgf-idp/WEB-INF/lib/xmlgraphics-commons-2.2.jar
./esgf-idp/WEB-INF/lib/xml-resolver-1.2.jar
./esgf-idp/WEB-INF/lib/xmlsec-1.4.7.jar
./esgf-idp/WEB-INF/lib/xmltooling-1.4.6.jar
./esgf-idp/WEB-INF/lib/xom-1.2.5.jar
./esgf-idp/WEB-INF/lib/XSGroupRole-1.0.0.jar
./esgf-stats-api/WEB-INF/lib/asm-5.2.jar
./esgf-stats-api/WEB-INF/lib/commons-logging-1.2.jar
./esgf-stats-api/WEB-INF/lib/esgf-node-manager-accesslog-client-1.02.jar
./esgf-stats-api/WEB-INF/lib/esgf-node-manager-common-1.02.jar
./esgf-stats-api/WEB-INF/lib/esgf-node-manager-connector-1.02.jar
./esgf-stats-api/WEB-INF/lib/esgf-node-manager-filters-1.02.jar
./esgf-stats-api/WEB-INF/lib/jackson-databind-2.9.6.jar
./esgf-stats-api/WEB-INF/lib/jersey-bundle-1.19.4.jar
./esgf-stats-api/WEB-INF/lib/jersey-core-1.19.4.jar
./esgf-stats-api/WEB-INF/lib/jersey-server-1.19.4.jar
./esgf-stats-api/WEB-INF/lib/postgresql-9.1-901-1.jdbc4.jar
./esgf-stats-api/WEB-INF/lib/spring-web-5.0.9.RELEASE.jar
./esgf-stats-api/WEB-INF/lib/spring-webmvc-5.0.9.RELEASE.jar
./esg-orp/WEB-INF/lib/activation-1.1.jar
./esg-orp/WEB-INF/lib/annotations-1.0.0.jar
./esg-orp/WEB-INF/lib/ant-1.7.0.jar
./esg-orp/WEB-INF/lib/antisamy-1.5.7.jar
./esg-orp/WEB-INF/lib/ant-launcher-1.7.0.jar
./esg-orp/WEB-INF/lib/aopalliance-1.0.jar
./esg-orp/WEB-INF/lib/asm-3.0.jar
./esg-orp/WEB-INF/lib/asm-tree-3.0.jar
./esg-orp/WEB-INF/lib/avalon-framework-4.1.5.jar
./esg-orp/WEB-INF/lib/backport-util-concurrent-3.1.jar
./esg-orp/WEB-INF/lib/batik-constants-1.9.1.jar
./esg-orp/WEB-INF/lib/batik-css-1.9.1.jar
./esg-orp/WEB-INF/lib/batik-i18n-1.9.1.jar
./esg-orp/WEB-INF/lib/batik-util-1.9.1.jar
./esg-orp/WEB-INF/lib/bcel-5.1.jar
./esg-orp/WEB-INF/lib/bsh-core-2.0b4.jar
./esg-orp/WEB-INF/lib/cobertura-1.8.jar
./esg-orp/WEB-INF/lib/cobertura-1.9.4.jar
./esg-orp/WEB-INF/lib/commons-beanutils-1.9.2.jar
./esg-orp/WEB-INF/lib/commons-beanutils-core-1.8.3.jar
./esg-orp/WEB-INF/lib/commons-codec-1.10.jar
./esg-orp/WEB-INF/lib/commons-collections-3.2.2.jar
./esg-orp/WEB-INF/lib/commons-configuration-1.10.jar
./esg-orp/WEB-INF/lib/commons-digester-2.0.jar
./esg-orp/WEB-INF/lib/commons-fileupload-1.3.1.jar
./esg-orp/WEB-INF/lib/commons-httpclient-3.1.jar
./esg-orp/WEB-INF/lib/commons-io-2.4.jar
./esg-orp/WEB-INF/lib/commons-jelly-tags-log-1.0.jar
./esg-orp/WEB-INF/lib/commons-lang-2.6.jar
./esg-orp/WEB-INF/lib/commons-logging-1.2.jar
./esg-orp/WEB-INF/lib/coreplugin-1.0.0.jar
./esg-orp/WEB-INF/lib/dom4j-1.6.1.jar
./esg-orp/WEB-INF/lib/el-api-1.0.jar
./esg-orp/WEB-INF/lib/esapi-2.1.0.1.jar
./esg-orp/WEB-INF/lib/esgf-security-2.8.5.jar
./esg-orp/WEB-INF/lib/esgf-security-test-2.8.5.jar
./esg-orp/WEB-INF/lib/findbugs-1.0.0.jar
./esg-orp/WEB-INF/lib/findbugs-ant-1.0.0.jar
./esg-orp/WEB-INF/lib/findbugsGUI-1.0.0.jar
./esg-orp/WEB-INF/lib/geronimo-jms_1.1_spec-1.0.jar
./esg-orp/WEB-INF/lib/guice-2.0.jar
./esg-orp/WEB-INF/lib/hessian-3.0.20.jar
./esg-orp/WEB-INF/lib/httpclient-4.5.1.jar
./esg-orp/WEB-INF/lib/httpcore-4.4.3.jar
./esg-orp/WEB-INF/lib/ivy-2.3.0.jar
./esg-orp/WEB-INF/lib/javaee-api-5.0-2.jar
./esg-orp/WEB-INF/lib/jaxb-xjc-2.2.jar
./esg-orp/WEB-INF/lib/jaxen-1.1.3.jar
./esg-orp/WEB-INF/lib/jcip-annotations-1.0.jar
./esg-orp/WEB-INF/lib/jcl-over-slf4j-1.7.6.jar
./esg-orp/WEB-INF/lib/jdom-1.0.jar
./esg-orp/WEB-INF/lib/jdom-2.0.2.jar
./esg-orp/WEB-INF/lib/joda-convert-1.1.jar
./esg-orp/WEB-INF/lib/joda-time-2.0.jar
./esg-orp/WEB-INF/lib/jsp-api-2.0.jar
./esg-orp/WEB-INF/lib/jsp-api-2.1.jar
./esg-orp/WEB-INF/lib/log4j-1.2.17.jar
./esg-orp/WEB-INF/lib/logkit-1.0.1.jar
./esg-orp/WEB-INF/lib/mail-1.4.3.jar
./esg-orp/WEB-INF/lib/mockito-all-1.10.19.jar
./esg-orp/WEB-INF/lib/nekohtml-1.9.22.jar
./esg-orp/WEB-INF/lib/not-yet-commons-ssl-0.3.9.jar
./esg-orp/WEB-INF/lib/openid4java-0.9.6.jar
./esg-orp/WEB-INF/lib/openid4java-nodeps-0.9.6.jar
./esg-orp/WEB-INF/lib/opensaml-2.6.6.jar
./esg-orp/WEB-INF/lib/openws-1.5.6.jar
./esg-orp/WEB-INF/lib/oro-2.0.8.jar
./esg-orp/WEB-INF/lib/regexp-1.2.jar
./esg-orp/WEB-INF/lib/retrotranslator-runtime-1.2.7.jar
./esg-orp/WEB-INF/lib/serializer-2.9.1.jar
./esg-orp/WEB-INF/lib/slf4j-api-1.7.6.jar
./esg-orp/WEB-INF/lib/slf4j-log4j12-1.6.4.jar
./esg-orp/WEB-INF/lib/spring-aop-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-beans-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-context-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-context-support-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-core-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-expression-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-jdbc-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-security-acl-4.2.8.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-security-config-4.2.8.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-security-core-4.2.8.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-security-openid-4.2.8.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-security-taglibs-4.2.8.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-security-web-4.2.8.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-tx-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-web-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/spring-webmvc-4.3.19.RELEASE.jar
./esg-orp/WEB-INF/lib/taglibs-standard-impl-1.2.5.jar
./esg-orp/WEB-INF/lib/taglibs-standard-spec-1.2.5.jar
./esg-orp/WEB-INF/lib/tds-4.1.jar
./esg-orp/WEB-INF/lib/tiles-api-3.0.8.jar
./esg-orp/WEB-INF/lib/tiles-autotag-core-runtime-1.2.jar
./esg-orp/WEB-INF/lib/tiles-compat-3.0.8.jar
./esg-orp/WEB-INF/lib/tiles-core-3.0.8.jar
./esg-orp/WEB-INF/lib/tiles-jsp-3.0.8.jar
./esg-orp/WEB-INF/lib/tiles-request-api-1.0.7.jar
./esg-orp/WEB-INF/lib/tiles-request-jsp-1.0.7.jar
./esg-orp/WEB-INF/lib/tiles-request-servlet-1.0.7.jar
./esg-orp/WEB-INF/lib/tiles-servlet-3.0.8.jar
./esg-orp/WEB-INF/lib/tiles-template-3.0.8.jar
./esg-orp/WEB-INF/lib/xalan-2.7.2.jar
./esg-orp/WEB-INF/lib/xercesImpl-2.11.0.jar
./esg-orp/WEB-INF/lib/xml-apis-1.4.01.jar
./esg-orp/WEB-INF/lib/xml-apis-ext-1.3.04.jar
./esg-orp/WEB-INF/lib/xmlgraphics-commons-2.2.jar
./esg-orp/WEB-INF/lib/xml-resolver-1.2.jar
./esg-orp/WEB-INF/lib/xmlsec-1.4.7.jar
./esg-orp/WEB-INF/lib/xmltooling-1.4.6.jar
./esg-orp/WEB-INF/lib/xom-1.2.5.jar
./esg-orp/WEB-INF/lib/XSGroupRole-1.0.0.jar
./esg-search/WEB-INF/lib/activation-1.1.jar
./esg-search/WEB-INF/lib/annotations-1.0.0.jar
./esg-search/WEB-INF/lib/ant-1.7.0.jar
./esg-search/WEB-INF/lib/antisamy-1.5.7.jar
./esg-search/WEB-INF/lib/ant-launcher-1.7.0.jar
./esg-search/WEB-INF/lib/aopalliance-1.0.jar
./esg-search/WEB-INF/lib/asm-3.0.jar
./esg-search/WEB-INF/lib/asm-tree-3.0.jar
./esg-search/WEB-INF/lib/avalon-framework-4.1.5.jar
./esg-search/WEB-INF/lib/backport-util-concurrent-3.1.jar
./esg-search/WEB-INF/lib/batik-constants-1.9.1.jar
./esg-search/WEB-INF/lib/batik-css-1.9.1.jar
./esg-search/WEB-INF/lib/batik-i18n-1.9.1.jar
./esg-search/WEB-INF/lib/batik-util-1.9.1.jar
./esg-search/WEB-INF/lib/bcel-5.1.jar
./esg-search/WEB-INF/lib/blueprint-parser-1.3.1.jar
./esg-search/WEB-INF/lib/bsh-core-2.0b4.jar
./esg-search/WEB-INF/lib/cobertura-1.8.jar
./esg-search/WEB-INF/lib/cobertura-1.9.4.jar
./esg-search/WEB-INF/lib/commons-beanutils-1.9.2.jar
./esg-search/WEB-INF/lib/commons-beanutils-core-1.8.3.jar
./esg-search/WEB-INF/lib/commons-cli-1.2.jar
./esg-search/WEB-INF/lib/commons-codec-1.10.jar
./esg-search/WEB-INF/lib/commons-collections-3.2.2.jar
./esg-search/WEB-INF/lib/commons-configuration-1.10.jar
./esg-search/WEB-INF/lib/commons-dbcp-1.4.jar
./esg-search/WEB-INF/lib/commons-dbutils-1.3.jar
./esg-search/WEB-INF/lib/commons-digester-2.0.jar
./esg-search/WEB-INF/lib/commons-fileupload-1.3.2.jar
./esg-search/WEB-INF/lib/commons-httpclient-3.1.jar
./esg-search/WEB-INF/lib/commons-io-2.4.jar
./esg-search/WEB-INF/lib/commons-jelly-tags-log-1.0.jar
./esg-search/WEB-INF/lib/commons-lang-2.6.jar
./esg-search/WEB-INF/lib/commons-logging-1.2.jar
./esg-search/WEB-INF/lib/commons-pool-1.5.4.jar
./esg-search/WEB-INF/lib/coreplugin-1.0.0.jar
./esg-search/WEB-INF/lib/cxf-core-3.2.6.jar
./esg-search/WEB-INF/lib/cxf-rt-frontend-jaxrs-3.2.6.jar
./esg-search/WEB-INF/lib/cxf-rt-transports-http-3.2.6.jar
./esg-search/WEB-INF/lib/dom4j-1.6.1.jar
./esg-search/WEB-INF/lib/el-api-1.0.jar
./esg-search/WEB-INF/lib/esapi-2.1.0.1.jar
./esg-search/WEB-INF/lib/esgf-node-manager-accesslog-client-1.02.jar
./esg-search/WEB-INF/lib/esgf-node-manager-common-1.02.jar
./esg-search/WEB-INF/lib/esgf-node-manager-connector-1.02.jar
./esg-search/WEB-INF/lib/esgf-node-manager-filters-1.02.jar
./esg-search/WEB-INF/lib/esgf-security-2.8.5.jar
./esg-search/WEB-INF/lib/esgf-security-test-2.8.5.jar
./esg-search/WEB-INF/lib/esg-orp-2.10.4.jar
./esg-search/WEB-INF/lib/esg-orp-test-2.10.4.jar
./esg-search/WEB-INF/lib/findbugs-1.0.0.jar
./esg-search/WEB-INF/lib/findbugs-ant-1.0.0.jar
./esg-search/WEB-INF/lib/findbugsGUI-1.0.0.jar
./esg-search/WEB-INF/lib/geronimo-jms_1.1_spec-1.0.jar
./esg-search/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar
./esg-search/WEB-INF/lib/geronimo-stax-api_1.0_spec-1.0.1.jar
./esg-search/WEB-INF/lib/guice-2.0.jar
./esg-search/WEB-INF/lib/hessian-4.0.7.jar
./esg-search/WEB-INF/lib/httpclient-4.5.1.jar
./esg-search/WEB-INF/lib/httpcore-4.4.3.jar
./esg-search/WEB-INF/lib/ivy-2.3.0.jar
./esg-search/WEB-INF/lib/javaee-api-5.0-2.jar
./esg-search/WEB-INF/lib/javaee-api-8.0.jar
./esg-search/WEB-INF/lib/javaee-web-api-8.0.jar
./esg-search/WEB-INF/lib/javax.annotation-api-1.3.jar
./esg-search/WEB-INF/lib/javax.batch-api-1.0.1.jar
./esg-search/WEB-INF/lib/javax.enterprise.concurrent-api-1.0.jar
./esg-search/WEB-INF/lib/javax.enterprise.deploy-api-1.6.jar
./esg-search/WEB-INF/lib/javax.faces-2.3.2.jar
./esg-search/WEB-INF/lib/javax.jms-api-2.0.1.jar
./esg-search/WEB-INF/lib/javax.mail-1.6.0.jar
./esg-search/WEB-INF/lib/javax.management.j2ee-api-1.1.1.jar
./esg-search/WEB-INF/lib/javax.persistence-2.0.5.jar
./esg-search/WEB-INF/lib/javax.resource-api-1.7.jar
./esg-search/WEB-INF/lib/javax.security.jacc-api-1.5.jar
./esg-search/WEB-INF/lib/javax.transaction-api-1.2.jar
./esg-search/WEB-INF/lib/javax.xml.registry-api-1.0.7.jar
./esg-search/WEB-INF/lib/javax.xml.rpc-api-1.1.1.jar
./esg-search/WEB-INF/lib/jaxb-api-2.2.jar
./esg-search/WEB-INF/lib/jaxb-impl-2.2.jar
./esg-search/WEB-INF/lib/jaxb-xjc-2.2.jar
./esg-search/WEB-INF/lib/jaxen-1.1.3.jar
./esg-search/WEB-INF/lib/jcip-annotations-1.0.jar
./esg-search/WEB-INF/lib/jcl-over-slf4j-1.7.6.jar
./esg-search/WEB-INF/lib/jdom-1.0.jar
./esg-search/WEB-INF/lib/jdom-2.0.2.jar
./esg-search/WEB-INF/lib/jline-0.9.94.jar
./esg-search/WEB-INF/lib/joda-convert-1.1.jar
./esg-search/WEB-INF/lib/joda-time-2.0.jar
./esg-search/WEB-INF/lib/jsp-api-2.0.jar
./esg-search/WEB-INF/lib/jsp-api-2.1.jar
./esg-search/WEB-INF/lib/log4j-1.2.17.jar
./esg-search/WEB-INF/lib/logkit-1.0.1.jar
./esg-search/WEB-INF/lib/lucene-analyzers-2.9.1.jar
./esg-search/WEB-INF/lib/lucene-core-2.9.1.jar
./esg-search/WEB-INF/lib/lucene-highlighter-2.9.1.jar
./esg-search/WEB-INF/lib/lucene-memory-2.9.1.jar
./esg-search/WEB-INF/lib/lucene-misc-2.9.1.jar
./esg-search/WEB-INF/lib/lucene-queries-2.9.1.jar
./esg-search/WEB-INF/lib/lucene-snowball-2.9.1.jar
./esg-search/WEB-INF/lib/lucene-spellchecker-2.9.1.jar
./esg-search/WEB-INF/lib/mail-1.4.4.jar
./esg-search/WEB-INF/lib/mockito-all-1.10.19.jar
./esg-search/WEB-INF/lib/nekohtml-1.9.22.jar
./esg-search/WEB-INF/lib/netcdfAll-4.6.6.jar
./esg-search/WEB-INF/lib/not-yet-commons-ssl-0.3.9.jar
./esg-search/WEB-INF/lib/opendap-2.2.2.jar
./esg-search/WEB-INF/lib/openid4java-0.9.6.jar
./esg-search/WEB-INF/lib/openid4java-nodeps-0.9.6.jar
./esg-search/WEB-INF/lib/opensaml-2.6.6.jar
./esg-search/WEB-INF/lib/openws-1.5.6.jar
./esg-search/WEB-INF/lib/org.apache.aries.blueprint.api-1.0.1.jar
./esg-search/WEB-INF/lib/org.apache.aries.blueprint.core-1.0.1.jar
./esg-search/WEB-INF/lib/org.apache.aries.proxy.api-1.0.0.jar
./esg-search/WEB-INF/lib/org.apache.aries.quiesce.api-1.0.0.jar
./esg-search/WEB-INF/lib/org.apache.aries.util-1.0.0.jar
./esg-search/WEB-INF/lib/org.osgi.compendium-5.0.0.jar
./esg-search/WEB-INF/lib/org.osgi.core-5.0.0.jar
./esg-search/WEB-INF/lib/oro-2.0.8.jar
./esg-search/WEB-INF/lib/portlet-api-1.0.jar
./esg-search/WEB-INF/lib/postgresql-8.4-703.jdbc3.jar
./esg-search/WEB-INF/lib/regexp-1.2.jar
./esg-search/WEB-INF/lib/retrotranslator-runtime-1.2.7.jar
./esg-search/WEB-INF/lib/rome-1.5.0.jar
./esg-search/WEB-INF/lib/rome-utils-1.5.0.jar
./esg-search/WEB-INF/lib/serializer-2.9.1.jar
./esg-search/WEB-INF/lib/slf4j-api-1.7.25.jar
./esg-search/WEB-INF/lib/slf4j-log4j12-1.6.4.jar
./esg-search/WEB-INF/lib/solr-commons-csv-1.4.0.jar
./esg-search/WEB-INF/lib/solr-core-1.4.0.jar
./esg-search/WEB-INF/lib/solr-solrj-1.4.0.jar
./esg-search/WEB-INF/lib/spring-aop-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-beans-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-context-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-context-support-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-core-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-expression-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-jdbc-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-security-acl-4.2.8.RELEASE.jar
./esg-search/WEB-INF/lib/spring-security-config-4.2.8.RELEASE.jar
./esg-search/WEB-INF/lib/spring-security-core-4.2.8.RELEASE.jar
./esg-search/WEB-INF/lib/spring-security-openid-4.2.8.RELEASE.jar
./esg-search/WEB-INF/lib/spring-security-taglibs-4.2.8.RELEASE.jar
./esg-search/WEB-INF/lib/spring-security-web-4.2.8.RELEASE.jar
./esg-search/WEB-INF/lib/spring-tx-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-web-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/spring-webmvc-4.3.19.RELEASE.jar
./esg-search/WEB-INF/lib/stax2-api-4.1.jar
./esg-search/WEB-INF/lib/stax-api-1.0.1.jar
./esg-search/WEB-INF/lib/taglibs-standard-impl-1.2.5.jar
./esg-search/WEB-INF/lib/taglibs-standard-spec-1.2.5.jar
./esg-search/WEB-INF/lib/tds-4.1.jar
./esg-search/WEB-INF/lib/tiles-api-3.0.8.jar
./esg-search/WEB-INF/lib/tiles-autotag-core-runtime-1.2.jar
./esg-search/WEB-INF/lib/tiles-compat-3.0.8.jar
./esg-search/WEB-INF/lib/tiles-core-3.0.8.jar
./esg-search/WEB-INF/lib/tiles-jsp-3.0.8.jar
./esg-search/WEB-INF/lib/tiles-request-api-1.0.7.jar
./esg-search/WEB-INF/lib/tiles-request-jsp-1.0.7.jar
./esg-search/WEB-INF/lib/tiles-request-servlet-1.0.7.jar
./esg-search/WEB-INF/lib/tiles-servlet-3.0.8.jar
./esg-search/WEB-INF/lib/tiles-template-3.0.8.jar
./esg-search/WEB-INF/lib/validation-api-1.1.0.Final.jar
./esg-search/WEB-INF/lib/woodstox-core-5.1.0.jar
./esg-search/WEB-INF/lib/wstx-asl-3.2.7.jar
./esg-search/WEB-INF/lib/xalan-2.7.2.jar
./esg-search/WEB-INF/lib/xercesImpl-2.11.0.jar
./esg-search/WEB-INF/lib/xml-apis-1.4.01.jar
./esg-search/WEB-INF/lib/xml-apis-ext-1.3.04.jar
./esg-search/WEB-INF/lib/xmlgraphics-commons-2.2.jar
./esg-search/WEB-INF/lib/xml-resolver-1.2.jar
./esg-search/WEB-INF/lib/xmlschema-core-2.2.3.jar
./esg-search/WEB-INF/lib/xmlsec-1.4.7.jar
./esg-search/WEB-INF/lib/xmltooling-1.4.6.jar
./esg-search/WEB-INF/lib/xom-1.2.5.jar
./esg-search/WEB-INF/lib/XSGroupRole-1.0.0.jar
./thredds/WEB-INF/lib/52n-xml-gml-v321-2.2.0.jar
./thredds/WEB-INF/lib/52n-xml-om-v20-2.2.0.jar
./thredds/WEB-INF/lib/52n-xml-ows-v110-2.2.0.jar
./thredds/WEB-INF/lib/52n-xml-sampling-v20-2.2.0.jar
./thredds/WEB-INF/lib/52n-xml-sweCommon-v20-2.2.0.jar
./thredds/WEB-INF/lib/52n-xml-waterML-v20-2.2.0.jar
./thredds/WEB-INF/lib/52n-xml-xlink-v110-2.2.0.jar
./thredds/WEB-INF/lib/affinity-3.1.7.jar
./thredds/WEB-INF/lib/animal-sniffer-annotations-1.14.jar
./thredds/WEB-INF/lib/annotations-12.0.jar
./thredds/WEB-INF/lib/aopalliance-1.0.jar
./thredds/WEB-INF/lib/attoparser-2.0.1.RELEASE.jar
./thredds/WEB-INF/lib/bufr-5.0.0-beta5.jar
./thredds/WEB-INF/lib/c3p0-0.9.1.1.jar
./thredds/WEB-INF/lib/cdm-5.0.0-beta5.jar
./thredds/WEB-INF/lib/checker-qual-2.0.0.jar
./thredds/WEB-INF/lib/chronicle-algorithms-1.1.10.jar
./thredds/WEB-INF/lib/chronicle-bytes-1.15.1.jar
./thredds/WEB-INF/lib/chronicle-core-1.15.1.jar
./thredds/WEB-INF/lib/chronicle-map-3.15.1.jar
./thredds/WEB-INF/lib/chronicle-threads-1.15.0.jar
./thredds/WEB-INF/lib/chronicle-values-1.15.0.jar
./thredds/WEB-INF/lib/chronicle-wire-1.15.0.jar
./thredds/WEB-INF/lib/clcommon-5.0.0-beta5.jar
./thredds/WEB-INF/lib/commons-codec-1.10.jar
./thredds/WEB-INF/lib/commons-collections-3.2.2.jar
./thredds/WEB-INF/lib/commons-dbcp-1.4.jar
./thredds/WEB-INF/lib/commons-dbutils-1.3.jar
./thredds/WEB-INF/lib/commons-httpclient-3.1.jar
./thredds/WEB-INF/lib/commons-io-1.3.2.jar
./thredds/WEB-INF/lib/commons-io-2.4.jar
./thredds/WEB-INF/lib/commons-lang-2.6.jar
./thredds/WEB-INF/lib/commons-pool-1.5.4.jar
./thredds/WEB-INF/lib/coverity-escapers-1.1.1.jar
./thredds/WEB-INF/lib/d4cdm-5.0.0-beta5.jar
./thredds/WEB-INF/lib/d4core-5.0.0-beta5.jar
./thredds/WEB-INF/lib/d4lib-5.0.0-beta5.jar
./thredds/WEB-INF/lib/d4servlet-5.0.0-beta5.jar
./thredds/WEB-INF/lib/edal-cdm-1.4.2-SNAPSHOT.jar
./thredds/WEB-INF/lib/edal-common-1.4.2-SNAPSHOT.jar
./thredds/WEB-INF/lib/edal-coveragejson-1.4.2-SNAPSHOT.jar
./thredds/WEB-INF/lib/edal-godiva-1.4.2-SNAPSHOT.jar
./thredds/WEB-INF/lib/edal-graphics-1.4.2-SNAPSHOT.jar
./thredds/WEB-INF/lib/edal-wms-1.4.2-SNAPSHOT.jar
./thredds/WEB-INF/lib/ehcache-2.8.3.jar
./thredds/WEB-INF/lib/epsg-wkt.jar
./thredds/WEB-INF/lib/error_prone_annotations-2.1.3.jar
./thredds/WEB-INF/lib/esapi-2.1.0.1.jar
./thredds/WEB-INF/lib/esgf-node-manager-common-1.0.3.jar
./thredds/WEB-INF/lib/esgf-node-manager-filters-1.0.3.jar
./thredds/WEB-INF/lib/esgf-security-2.8.5.jar
./thredds/WEB-INF/lib/esg-orp-2.10.4.jar
./thredds/WEB-INF/lib/geoapi-3.0.0.jar
./thredds/WEB-INF/lib/geotk-epsg-3.20-geoapi-3.0.jar
./thredds/WEB-INF/lib/geotk-metadata-3.20-geoapi-3.0.jar
./thredds/WEB-INF/lib/geotk-referencing-3.20-geoapi-3.0.jar
./thredds/WEB-INF/lib/geotk-utility-3.20-geoapi-3.0.jar
./thredds/WEB-INF/lib/geotk-xml-base-3.20-geoapi-3.0.jar
./thredds/WEB-INF/lib/grib-5.0.0-beta5.jar
./thredds/WEB-INF/lib/guava-25.1-jre.jar
./thredds/WEB-INF/lib/gwt-openlayers-client-1.1.0.jar
./thredds/WEB-INF/lib/h2-1.3.173.jar
./thredds/WEB-INF/lib/hibernate-validator-4.3.2.Final.jar
./thredds/WEB-INF/lib/httpclient-4.5.2.jar
./thredds/WEB-INF/lib/httpcore-4.4.5.jar
./thredds/WEB-INF/lib/httpmime-4.5.2.jar
./thredds/WEB-INF/lib/httpservices-5.0.0-beta5.jar
./thredds/WEB-INF/lib/j2objc-annotations-1.1.jar
./thredds/WEB-INF/lib/jackson-core-2.7.5.jar
./thredds/WEB-INF/lib/javapoet-1.5.1.jar
./thredds/WEB-INF/lib/jaxen-1.1.6.jar
./thredds/WEB-INF/lib/jboss-logging-3.1.0.CR2.jar
./thredds/WEB-INF/lib/jcip-annotations-1.0.jar
./thredds/WEB-INF/lib/jcl-over-slf4j-1.7.25.jar
./thredds/WEB-INF/lib/jcommander-1.48.jar
./thredds/WEB-INF/lib/jcommon-1.0.23.jar
./thredds/WEB-INF/lib/jdom-1.1.3.jar
./thredds/WEB-INF/lib/jdom2-2.0.6.jar
./thredds/WEB-INF/lib/jdom-legacy-1.1.3.jar
./thredds/WEB-INF/lib/je-4.0.92.jar
./thredds/WEB-INF/lib/jettison-1.3.8.jar
./thredds/WEB-INF/lib/jfreechart-1.0.19.jar
./thredds/WEB-INF/lib/jj2000-5.3.jar
./thredds/WEB-INF/lib/jna-4.2.2.jar
./thredds/WEB-INF/lib/jna-platform-4.2.2.jar
./thredds/WEB-INF/lib/joda-time-2.0.jar
./thredds/WEB-INF/lib/joda-time-2.2.jar
./thredds/WEB-INF/lib/joda-time-2.9.4.jar
./thredds/WEB-INF/lib/json-20160810.jar
./thredds/WEB-INF/lib/jsr-275-0.9.3.jar
./thredds/WEB-INF/lib/jsr305-3.0.2.jar
./thredds/WEB-INF/lib/log4j-api-2.11.0.jar
./thredds/WEB-INF/lib/log4j-core-2.11.0.jar
./thredds/WEB-INF/lib/log4j-slf4j-impl-2.11.0.jar
./thredds/WEB-INF/lib/log4j-web-2.11.0.jar
./thredds/WEB-INF/lib/netcdf4-5.0.0-beta5.jar
./thredds/WEB-INF/lib/not-yet-commons-ssl-0.3.9.jar
./thredds/WEB-INF/lib/opendap-5.0.0-beta5.jar
./thredds/WEB-INF/lib/opensaml-2.6.6.jar
./thredds/WEB-INF/lib/openws-1.5.6.jar
./thredds/WEB-INF/lib/oro-2.0.8.jar
./thredds/WEB-INF/lib/pax-url-aether-2.4.5.jar
./thredds/WEB-INF/lib/postgresql-8.4-703.jdbc3.jar
./thredds/WEB-INF/lib/protobuf-java-3.5.1.jar
./thredds/WEB-INF/lib/quartz-2.2.3.jar
./thredds/WEB-INF/lib/Saxon-HE-9.7.0-8.jar
./thredds/WEB-INF/lib/serializer-2.9.1.jar
./thredds/WEB-INF/lib/slf4j-api-1.7.25.jar
./thredds/WEB-INF/lib/slf4j-api-1.7.6.jar
./thredds/WEB-INF/lib/spring-aop-4.3.18.RELEASE.jar
./thredds/WEB-INF/lib/spring-beans-4.3.18.RELEASE.jar
./thredds/WEB-INF/lib/spring-context-4.3.18.RELEASE.jar
./thredds/WEB-INF/lib/spring-core-4.3.18.RELEASE.jar
./thredds/WEB-INF/lib/spring-expression-4.3.18.RELEASE.jar
./thredds/WEB-INF/lib/spring-security-config-4.2.7.RELEASE.jar
./thredds/WEB-INF/lib/spring-security-core-4.2.7.RELEASE.jar
./thredds/WEB-INF/lib/spring-security-web-4.2.7.RELEASE.jar
./thredds/WEB-INF/lib/spring-web-4.3.18.RELEASE.jar
./thredds/WEB-INF/lib/spring-webmvc-4.3.18.RELEASE.jar
./thredds/WEB-INF/lib/taglibs-standard-impl-1.2.5.jar
./thredds/WEB-INF/lib/taglibs-standard-spec-1.2.5.jar
./thredds/WEB-INF/lib/tdcommon-5.0.0-beta5.jar
./thredds/WEB-INF/lib/threddsIso-2.3.0-SNAPSHOT.jar
./thredds/WEB-INF/lib/thymeleaf-3.0.2.RELEASE.jar
./thredds/WEB-INF/lib/thymeleaf-spring4-3.0.2.RELEASE.jar
./thredds/WEB-INF/lib/udunits-5.0.0-beta5.jar
./thredds/WEB-INF/lib/unbescape-1.1.4.RELEASE.jar
./thredds/WEB-INF/lib/validation-api-1.0.0.GA.jar
./thredds/WEB-INF/lib/vecmath-1.3.1.jar
./thredds/WEB-INF/lib/velocity-1.7.jar
./thredds/WEB-INF/lib/visad-2.0-20130124.jar
./thredds/WEB-INF/lib/visadCdm-5.0.0-beta5.jar
./thredds/WEB-INF/lib/waterml-5.0.0-beta5.jar
./thredds/WEB-INF/lib/xalan-2.7.2.jar
./thredds/WEB-INF/lib/xml-apis-1.4.01.jar
./thredds/WEB-INF/lib/xmlbeans-2.6.0.jar
./thredds/WEB-INF/lib/xmlsec-1.5.7.jar
./thredds/WEB-INF/lib/xmltooling-1.4.6.jar
./thredds/WEB-INF/lib/XSGroupRole-1.0.0.jar
