./8.6.9/las-esgf-v8.6.9/compiler.jar
./8.6.9/las-esgf-v8.6.9/dist/lib/addXML.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/activation-1.1.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/ant-1.10.5.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/antlr-runtime-4.5.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/axis-jaxrpc-1.4.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/bsf-2.3.0.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-beanutils-1.9.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-cli-1.3.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-collections-3.2.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-digester-2.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-discovery-0.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-fileupload-1.3.3.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-io-2.5.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-lang3-3.6.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-logging-1.1.3.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/commons-validator-1.3.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/converttable.0.0.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/dods-1.1.7.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/encoder-1.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/forms-1.0.7.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/freemarker-2.3.23.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gnu-getopt-1.0.6.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gnu-regexp-1.1.4.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/grib-6.0.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gson-2.2.4.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwt-ajaxloader-1.1.0.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwtbootstrap3-0.9.3.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwtbootstrap3-extras-0.9.3.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwt-maps-api-3.10.0-alpha-7.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwt-maps-api-3.10.0-alpha-7-sources.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwt-openlayers-client-0.6.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwt-servlet-2.8.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwttime-0.0.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/gwt-user-2.8.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/httpclient-4.5.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/httpcore-4.4.3.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/jai_codec-1.1.3.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/jai-imageio-core-1.4.0.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/jai-imageio-jpeg2000-1.3.0.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/javassist-3.20.0-GA.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/javax.mail-api-1.6.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/jaxen-1.1-beta-10.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/jaxen-core-1.0-FCS.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/jaxen-jdom-1.0-FCS.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/jdom-1.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/joda-convert-1.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/joda-time-2.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/JSAP_1.03a.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/junit-4.8.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/lib-xslt-6.10.3.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/log4j-1.2-api-2.11.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/log4j-api-2.11.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/log4j-core-2.11.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/lucene-core-7.5.0.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/mysql-connector-java-8.0.13.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/netcdfAll-4.6.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/ognl-3.1.15.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/ojdbc14.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/oro-2.0.8.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/saaj-api-1.3.5.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/saxpath-1.0-FCS.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/serializer-2.7.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/slf4j-log4j12-1.7.25.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/standard-1.0.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/struts2-core-2.5.17.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/thredds.4.6.11.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/velocity-1.7-dep.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/velocity-1.7.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/velocity-tools-1.3.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/wsdl4j-1.5.1.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/xalan-2.7.2.jar
./8.6.9/las-esgf-v8.6.9/WebContent/WEB-INF/lib/xml-apis-2.0.2.jar
