./webapp/WEB-INF/lib/httpcore-4.4.1.jar
./webapp/WEB-INF/lib/stax2-api-3.1.4.jar
./webapp/WEB-INF/lib/commons-configuration-1.6.jar
./webapp/WEB-INF/lib/guava-14.0.1.jar
./webapp/WEB-INF/lib/org.restlet-2.3.0.jar
./webapp/WEB-INF/lib/lucene-queryparser-5.5.5.jar
./webapp/WEB-INF/lib/joda-time-2.2.jar
./webapp/WEB-INF/lib/protobuf-java-2.5.0.jar
./webapp/WEB-INF/lib/hppc-0.7.1.jar
./webapp/WEB-INF/lib/lucene-highlighter-5.5.5.jar
./webapp/WEB-INF/lib/solr-core-5.5.5.jar
./webapp/WEB-INF/lib/hadoop-auth-2.6.0.jar
./webapp/WEB-INF/lib/hadoop-annotations-2.6.0.jar
./webapp/WEB-INF/lib/lucene-memory-5.5.5.jar
./webapp/WEB-INF/lib/hadoop-hdfs-2.6.0.jar
./webapp/WEB-INF/lib/lucene-codecs-5.5.5.jar
./webapp/WEB-INF/lib/antlr4-runtime-4.5.1-1.jar
./webapp/WEB-INF/lib/org.restlet.ext.servlet-2.3.0.jar
./webapp/WEB-INF/lib/concurrentlinkedhashmap-lru-1.2.jar
./webapp/WEB-INF/lib/lucene-analyzers-phonetic-5.5.5.jar
./webapp/WEB-INF/lib/lucene-suggest-5.5.5.jar
./webapp/WEB-INF/lib/lucene-misc-5.5.5.jar
./webapp/WEB-INF/lib/lucene-queries-5.5.5.jar
./webapp/WEB-INF/lib/t-digest-3.1.jar
./webapp/WEB-INF/lib/commons-exec-1.3.jar
./webapp/WEB-INF/lib/solr-solrj-5.5.5.jar
./webapp/WEB-INF/lib/dom4j-1.6.1.jar
./webapp/WEB-INF/lib/lucene-grouping-5.5.5.jar
./webapp/WEB-INF/lib/htrace-core-3.0.4.jar
./webapp/WEB-INF/lib/asm-5.0.4.jar
./webapp/WEB-INF/lib/jackson-dataformat-smile-2.5.4.jar
./webapp/WEB-INF/lib/lucene-backward-codecs-5.5.5.jar
./webapp/WEB-INF/lib/woodstox-core-asl-4.4.1.jar
./webapp/WEB-INF/lib/zookeeper-3.4.6.jar
./webapp/WEB-INF/lib/lucene-analyzers-common-5.5.5.jar
./webapp/WEB-INF/lib/jackson-core-2.5.4.jar
./webapp/WEB-INF/lib/lucene-core-5.5.5.jar
./webapp/WEB-INF/lib/commons-io-2.4.jar
./webapp/WEB-INF/lib/lucene-analyzers-kuromoji-5.5.5.jar
./webapp/WEB-INF/lib/spatial4j-0.5.jar
./webapp/WEB-INF/lib/lucene-join-5.5.5.jar
./webapp/WEB-INF/lib/lucene-spatial-5.5.5.jar
./webapp/WEB-INF/lib/commons-fileupload-1.3.2.jar
./webapp/WEB-INF/lib/commons-lang-2.6.jar
./webapp/WEB-INF/lib/hadoop-common-2.6.0.jar
./webapp/WEB-INF/lib/lucene-sandbox-5.5.5.jar
./webapp/WEB-INF/lib/commons-collections-3.2.2.jar
./webapp/WEB-INF/lib/httpmime-4.4.1.jar
./webapp/WEB-INF/lib/asm-commons-5.0.4.jar
./webapp/WEB-INF/lib/noggit-0.6.jar
./webapp/WEB-INF/lib/lucene-expressions-5.5.5.jar
./webapp/WEB-INF/lib/commons-codec-1.10.jar
./webapp/WEB-INF/lib/commons-cli-1.2.jar
./webapp/WEB-INF/lib/httpclient-4.4.1.jar
./jetty-deploy-9.2.13.v20150730.jar
./jetty-continuation-9.2.13.v20150730.jar
./jetty-webapp-9.2.13.v20150730.jar
./jetty-rewrite-9.2.13.v20150730.jar
./jetty-jmx-9.2.13.v20150730.jar
./jetty-security-9.2.13.v20150730.jar
./jetty-server-9.2.13.v20150730.jar
./jetty-xml-9.2.13.v20150730.jar
./jetty-servlet-9.2.13.v20150730.jar
./jetty-util-9.2.13.v20150730.jar
./jetty-io-9.2.13.v20150730.jar
./jetty-servlets-9.2.13.v20150730.jar
./ext/jcl-over-slf4j-1.7.7.jar
./ext/slf4j-log4j12-1.7.7.jar
./ext/slf4j-api-1.7.7.jar
./ext/log4j-1.2.17.jar
./ext/jul-to-slf4j-1.7.7.jar
./jetty-http-9.2.13.v20150730.jar
./javax.servlet-api-3.1.0.jar
